@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f6f6f6;
    font-family: "Segoe UI", sans-serif;
}

.container {
    background: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}